body {
  background-color: powderblue;
  margin: auto;
  text-align: center;
}

.nav-home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Pacifico", cursive;
  font-size: smaller;
}

.link-table,
.link-order,
.link-flavor-form,
.link-arrow {
  text-decoration: none;
  color: white;
}

.link-arrow {
  font-size: 5rem;
}

a:hover {
  color: salmon;
}

.page-heading {
  font-size: 8rem;
  font-family: "Fredericka the Great";
}

body > h2 {
  font-family: "Pacifico", cursive;
}

button {
  background-color: white;
  font-family: "Fredericka the Great", cursive;
  height: 3rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  border-color: white;
  border-width: 0.1rem;
  border-radius: 1rem;
}

button:hover {
  background-color: salmon;
  color: black;
  font-size: 1rem;
  opacity: 0.9;
  cursor: grab;
  height: 3.1rem;
}

body > h1 {
  font-family: "Fredericka the Great";
  font-size: 7rem;
  color: white;
  margin-left: auto;
}

table {
  margin: auto;
  margin-top: 10vh;
}

table > thead {
  font-size: 2rem;
  color: black;
  font-family: "Pacifico", cursive;
}

th {
  width: 15vw;
}

table > tbody {
  font-family: "Pacifico";
  color: rgb(237, 248, 252);
  background-color: salmon;
}

td {
  border-radius: 5rem;
}

footer {
  margin-top: 40vh;
  color: white;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 1rem;
  /* border: solid black; */
  max-width: 25vw;
  padding: 3rem;
}

::placeholder {
  color: rgb(247, 132, 119);
  text-align: center;
  font-size: smaller;
}

.flavor-form-name,
.flavor-form-flavor,
.form-first-name,
.form-last-name,
.form-email,
.form-order-flavor {
  font-family: "Pacifico";
}

#name,
#flavor-request,
#first-name,
#last-name,
#email,
#order-flavor,
#small,
#medium,
#large {
  color: salmon;
  border-radius: 0.25rem;
  border: white;
}

.form-size {
  display: flex;
  justify-content: space-between;
  font-weight: 900;
}

#size {
  color: black;
  font-family: pacifico;
  font-size: 1rem;
}
.form-button {
  margin: auto;
}

#small,
#medium,
#large {
  color: salmon;
}
