body {
  background-color: powderblue;
  margin: auto;
  text-align: center;
}

.nav-home {
  display: flex;
  margin-top: 2vh;

  justify-content: space-around;
  font-family: "Pacifico", cursive;
  font-size: smaller;
}

.link-table,
.link-order,
.link-flavor-form {
  text-decoration: none;
  color: white;
  border: dotted white;
  padding: 1rem;
}

.link-table:hover,
.link-order:hover,
.link-flavor-form:hover {
  color: salmon;
  background-color: white;
}

.link-arrow {
  text-decoration: none;
  color: white;
  font-size: 5rem;
  background-color: none;
  border: none;
}

.link-arrow:hover {
  color: salmon;
}

.page-heading {
  font-size: 8rem;
  font-family: "Fredericka the Great";
}

body > h2 {
  font-family: "Pacifico", cursive;
}

button {
  background-color: white;
  opacity: 70%;
  font-family: "Quicksand", sans-serif;
  height: 3rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  border: none;
  border-radius: 1rem;
  width: 20vw;
}

button:hover {
  color: salmon;
  opacity: 0.98;
  cursor: grab;
}

.main button {
  width: 10vw;
  height: 10vh;
  border-radius: 50%;
}

.main button:hover {
  font-size: 1rem;
}

body > h1 {
  font-family: "Fredericka the Great";
  font-size: 7rem;
  color: white;
  margin-left: auto;
}

table {
  margin: auto;
  margin-top: 10vh;
}

table > thead {
  font-size: 2rem;
  color: black;
  font-family: "Pacifico", cursive;
}

th {
  width: 15vw;
}

table > tbody {
  font-family: "Pacifico";
  color: rgb(237, 248, 252);
  background-color: salmon;
}

td {
  border-radius: 5rem;
}

footer {
  margin-top: 30vh;
  color: white;
  font-family: "Quicksand", sans-serif;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 1rem;
  /* border: solid black; */
  max-width: 25vw;
  padding: 3rem;
}

::placeholder {
  color: rgb(247, 132, 119);
  text-align: center;
  font-size: smaller;
}

.flavor-form-name,
.flavor-form-flavor,
.form-first-name,
.form-last-name,
.form-email,
.form-order-flavor {
  font-family: "Pacifico";
}

#name,
#flavor-request,
#first-name,
#last-name,
#email,
#order-flavor,
#small,
#medium,
#large {
  color: salmon;
  border-radius: 0.25rem;
  border: white;
}

.form-size {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  margin-bottom: 2vh;
}

#size {
  color: black;
  font-family: pacifico;
  font-size: 1rem;
  margin-bottom: -1vh;
}

.form-button {
  margin: auto;
}

.label-small,
.label-medium,
.label-large {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: small;
}

::selection {
  background-color: rgb(255, 157, 219);
}
